<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>wchat hot</title>
  <%- include header %>
</head>
<body>
  <div id="main" class="container">
    <h4 id="title" class="alert-success text-center">微信热门精选</h4>
    <div class="typePanel">
      <ul>
        <% typeList.forEach(function(type) { %>
          <li class="typeItem">
            <a href="/category?typeid=<%= type.id %>"><%= type.name %></a>
          </li>
        <% }) %>
      </ul>
    </div>
    <div class="articlePanel">
      <% if (typeof(pagebean) != 'undefined' && pagebean) { %>
        <% if (pagebean.contentlist.length > 0) { %>
          <%
            var curTypeId = parseInt(pagebean.contentlist[0].typeId);
            var curPage = parseInt(pagebean.currentPage);
          %>
          <span id="currentType"> &nbsp;&nbsp;< <%= pagebean.contentlist[0].typeName%> </span>
          <div class="pageButton">
            <% if (curPage <= 1) { %>
              <a href="#" class="disabled text-muted" onclick="return false;">上一页</a>
            <% } else { %>
              <a href="/category?typeid=<%= curTypeId %>&page=<%= curPage-1%>" class="prePage">上一页</a>
            <% } %>
            <a href="category?typeid=<%= curTypeId%>&page=<%= curPage+1%>" class="nextPage">下一页</a>
          </div>
        <% } %>
        <div class="articleList">
          <% pagebean.contentlist.forEach(function(article) { %>
              <% include article %>
          <% }); %>
        </div>
      <% } %>
    </div>
  </div>
</body>
</html>
